body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  max-width: 30%;
  height: auto;
}

.page-footer {
  /* position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; */
  background-color: #29b6f6!important;
  color: white;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 12px !important;
  }
}
